<script type="text/javascript">
var globalCounter=1;
$(document).ready(function() {
  //$("#btn").click(function(event){
    again(globalCounter);
    function again(globalCounter){
      if (globalCounter<101)
      {
    $.ajax({
                 url: "welcome/callajax", // Route to the Script Controller method
                type: "GET",
            dataType: "json",
                data: { id: globalCounter }, // This goes to Controller in params hash,
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        // Do something with the response here
                    
                       // Show the file contents in our editor.
                       var $li=$("<li>",{id: globalCounter,class: "qwe"});
                       $li.fadeIn().text(JSON.stringify(data)).appendTo(".data");
                        //alert(globalCounter);
                        if(globalCounter> 20)
                        {var temp=globalCounter-20
                          $('#'+temp).fadeOut();}
                        //  $("<li>").text(JSON.stringify(data)).appendTo('.data');}
                        globalCounter+=1;
                                                        
                        setTimeout(function(){again(globalCounter);},500);                                  
                                                           
                      },
               error: function() {
                        alert("Ajax error!")
                      }
    });
  }
  };
//});
});
</script>
<h1>Welcome to the index</h1>

<ul class="data"></ul>
